<div class="container">
  <div class="row">
    <div class="col-12 errorTitle">
      404 ERROR
    </div>
    <div class="col-12 errorSubTitle">
      Page not found
    </div>
    <div class="col-12 errorContent">
      The page you are looking for was moved, removed, renamed or might never existed.
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button mat-raised-button class="theme-bg-color text-white" (click)="redirectToHome()">
        GO HOME
      </button>
    </div>
  </div>
</div>